* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  margin-top: 2em;
}

.page-body {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: auto;
  width: auto;
}

.nb-div {
  margin: 0 auto;
  background: rgba(212, 3, 3, 0.425);
  padding: 2em;
  color: rgba(248, 242, 242, 0.952);
  border-radius: 7px;
}

/* Buttons for begin-dictation and end-dictation */

.greeting {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}

.record-btn {
  /* background: rgb(38, 128, 53); */
  font-weight: 700px;
  min-height: 1em;
  padding: 1em;
  margin: 1em;
  justify-content: center;
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
}

.record-btn:hover {
  /* background: rgb(221, 78, 78); */
  /* color: white; */
  transform: scale(1.1);
}

#record-end {
  min-height: 1em;
  padding: 1em;
  margin: 1em;
  justify-content: center;
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
}

#record-end:hover {
  /* background: rgb(86, 230, 110); */
  /* color: white; */
  transform: scale(1.1);
}

/* dictation content */
.words {
  justify-content: center;
  padding-top: 5em;
  margin-top: 5em;
  background: #7ea3f362;
  width: 50%;
  margin: auto;
  border-radius: 4px;
  box-shadow: 2px 2px 2px black;
}

.words,
p {
  font-size: 1em;
  padding: 1em;
  border-bottom: 0.5px solid grey;
}

.words,
p:after {
  border-bottom: 2px solid black;
}
